TEST_USER_EMAIL=your_test_user_value
TEST_USER_PASSWORD=your_test_password_value

# process.env.TEST_USER_EMAIL;
# process.env.TEST_USER_PASSWORD;

API_KEY=your_api_key_value
DATABASE_URL=your_database_url_value

# process.env.API_KEY;
# process.env.DATABASE_URL;